body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(156, 29%, 86%);
}

#myH1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(128, 36, 131);

}


#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: aliceblue;
}

#display {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(48, 44, 44);
    text-shadow: 2px 2px 2px rgb(69, 64, 64);
    margin-bottom: 25px;
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: background-color 0.5s ease;

}

#startbtn {
    background-color: hsl(240, 71%, 25%);
}

#startbtn:hover {
    background-color: hsl(240, 37%, 35%);
    transform: scale(1.1);

}

#stopbtn {
    background-color: hsl(0, 59%, 35%);
}

#stopbtn:hover {
    background-color: hsl(0, 44%, 38%);
    transform: scale(1.1);
}

#resetbtn {
    background-color: rgb(99, 181, 16);
}

#resetbtn:hover {
    background-color: rgb(139, 177, 101);
    transform: scale(1.1);



}